In [23]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime 
import random                    # Nuevo: Funciones aleatorias de la librería estándar

In [24]:
#Lee el dataset
datos=pd.read_csv('data_act_01.csv', header=0,sep=';')

In [25]:
columnas = ['CrimeId', 'Range']
datos_interes = datos.loc[:,columnas]
datos_interes

         CrimeId  Range
0      160903280    NaN
1      160912272    NaN
2      160912590    NaN
3      160912801    NaN
4      160912811    NaN
...          ...    ...
10046  160964210    NaN
10047  160964216    NaN
10048  160964227    NaN
10049  160964229    NaN
10050  160964249    NaN

[10051 rows x 2 columns]

In [26]:
datos.loc[ datos["State"] != "CA", ['CrimeId','State'] ]

        CrimeId State
5771  160942112   NaN
8021  160952280   NaN
8473  160953118   NaN

In [27]:
datos.loc[ datos["City"] != "San Francisco", ['State','City'] ]

      State City
86       CA  NaN
88       CA  NaN
100      CA  NaN
112      CA  NaN
117      CA  NaN
...     ...  ...
9867     CA  NaN
9923     CA  NaN
10029    CA  NaN
10032    CA  NaN
10033    CA  NaN

[386 rows x 2 columns]

In [28]:
parking3b = datos.dropna(axis="columns", thresh=400)
parking3b

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [35]:
rellenos = {'City': 'San Francisco','State':'CA'}
parking3b.fillna(rellenos)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [38]:
parking3b.loc[ datos['City'] == 'San Francisco', ['City','State'] ]

                City State
0      San Francisco    CA
1      San Francisco    CA
2      San Francisco    CA
3      San Francisco    CA
4      San Francisco    CA
...              ...   ...
10046  San Francisco    CA
10047  San Francisco    CA
10048  San Francisco    CA
10049  San Francisco    CA
10050  San Francisco    CA

[9665 rows x 2 columns]